<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agencies List</title>
</head>
<body>
<h1>Agencies List</h1>

<div th:each="agency : ${agencies}">
    <h2 th:text="${agency.name}">Agency Name</h2>
    <h3>Artists:</h3>
    <ul>
        <li th:each="artist : ${agency.artists}"
            th:text="${artist.firstname} + ' ' + ${artist.lastname}">
            Artist Name
        </li>
    </ul>
    <hr/>
</div>

<br/>
<a href="/artists">View All Artists</a>
</body>
</html>